/*---------------------------------------/*
 # TOOLS
/*---------------------------------------*/
/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
/*
    Elements: Page
    ---
    Default markup for page level elements
*/
/*
    Customize the background color and color to match your design.
*/
/*
    Elements: typography
    ---
    Default markup for typographic elements
*/
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*
    Objects: Row
    ---
    Creates a horizontal row with padding
*/
/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
/*
    Objects: Layout
    ---
    Creates a Layout with flexbox
*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/